theme = "adwaita-dark"

[editor]
line-number = "relative"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.soft-wrap]
enable = true

[keys.select]
"}" = "goto_next_paragraph"
"{" = "goto_prev_paragraph"

[editor.indent-guides]
render = true
character = "|"
skip-levels = 1
